{{ library.header_block_start("Prices Filter", "", "fa fa-search-plus") }}
<div class="row">
	{% for next_price in prices_list %}
		<input type="checkbox" id="next_price_{{ next_price.min }}_{{ next_price.max }}" value="{{ next_price.min }}" class="cbx_price_selection_filters" {% if loop.last %}checked {%  endif %}>&nbsp;{{ next_price.min }}&nbsp;-&nbsp;{{
	next_price.max }} <b>({#{ next_price.products_count }#})</b><br>
	{% endfor %}
</div>
{{ library.header_block_end("Prices Filter Block End") }}