{{ library.header_block_start("Prices Filter", "", "fa fa-search-plus") }}


<div class="btn-group search_btn_group" > {# bottom_margin_md top_margin_md#}
	<button type="button" onclick="javascript:frontendFuncsObj.nsn_woo_ext_search_runFilterSearch();return false;" class="btn_run_filter">Search</button>

	<section class="alert alert-info row">
		{#<button type="button" onclick="javascript:frontendFuncsObj.nsn_woo_ext_search_showBookmarks();return false;" class="btn_run_filter">Show Bookmarks</button>#}
		{# glyphicon glyphicon-bookmark#}
		<a class="a_link pull-right" onclick="javascript:frontendFuncsObj.nsn_woo_ext_search_showBookmarks();return false;">
			Show Bookmarks
		</a>
		<span aria-hidden="true" class="glyphicon glyphicon-bookmark"></span>
		<span class="glyphicon-class">glyphicon glyphicon-bookmark</span>
		<p class="text-info">
			<i class="glyphicon glyphicon-bookmark"  >123</i>&nbsp;Apply Filter

			You have 6 saved Bookmarks
		</p>
	</section>




	{#<button type="button" class="btn btn-info btn-lg btn-block">You can save current filters as Bookmark</button>#}
	{#<button type="button" onclick="javascript:frontendFuncsObj.nsn_woo_ext_search_addBookmark();return false;" class="btn_run_filter">Add Bookmark</button>#}
</div>

{{ library.header_block_end("Prices Filter Block End") }}