{% for attrs_option in attrs_options_list %}

	{{ library.header_block_start("Filter on " ~ attrs_option['attr_name'], "", "fa fa-search-plus") }}
	<div class="row">
		{% set attrs_list= attrs_option['attrs_list'] %}
		{% for next_attr in attrs_list %}
			<input type="checkbox" id="next_attr_{{ next_attr.ID }}" value="{{ next_attr.ID }}" class="cbx_{{ attrs_option['attr_name'] }}_selection_filters" {% if loop.last %}checked {%  endif %}>&nbsp;{{ next_attr.name }} <b>({{ next_attr.products_count }})</b><br>
		{% endfor %}
	</div>
	{{ library.header_block_end( "Filter on " ~ attrs_option['attr_name'] ~ " Block End") }}

{% endfor %}