{{ library.header_block_start("Categories Filter", "", "fa fa-search-plus") }}
<div class="row">
	{% for next_category in categories_list %}
	    <input type="checkbox" id="next_category_{{ next_category.ID }}" value="{{ next_category.ID }}" class="cbx_category_selection_filters" {% if loop.last %}checked {%  endif %}>&nbsp;{{ next_category.name }} <b>({{ next_category.products_count }})</b><br>
	{% endfor %}
</div>
{{ library.header_block_end("Categories Filter Block End") }}
