{% extends "white-simple/base.twig" %}
{% block content %}
	{# library.twig woo_ext_search_form  #}

	<script type="text/javascript">
		/*<![CDATA[*/
		var frontendFuncsObj;
		jQuery(document).ready(function ($) {

			var app_params = {{ app_params|json_encode|raw }};
//			alert( "app_params::"+var_dump( app_params ) )
			frontendFuncsObj = new frontendFuncs( app_params );

			var categories_list = {}
			$('input.cbx_category_selection_filters:checked').each(function () {
				categories_list[categories_list.length-1] = $(this).val()
			});


			var brands_list = {}
			$('input.cbx_brand_selection_filters:checked').each(function () {
				brands_list[brands_list.length-1] = $(this).val()
			});


			var prices_list = {}
			$('input.cbx_price_selection_filters:checked').each(function () {
				prices_list[prices_list.length-1] = $(this).val()
			});


			frontendFuncsObj.nsn_woo_ext_search_loadWooProducts( categories_list, brands_list, prices_list )

			$('[data-toggle="tooltip"]').tooltip()
//			alert( "AGTER::"+var_dump(1) )
		});

		/*]]>*/
	</script>


	<div class="row">  <!-- Breadcrumbs row start -->
		{#{{ components.showBreadcrumbs( breadcrumbsList, 'div_breadcrumbs' ) }}#}
	</div>              <!-- Breadcrumbs row end -->

	<div class="row"> <!-- search by State page start -->

		<div class="col-xs-12 col-sm-4 block_left_separator_sm">
			{%  set show_top_margin_sm = true %}
			{% include 'white-simple/filter_categories_box.twig' %}
			{% include 'white-simple/filter_attrs_box.twig' %} {# $attrs_options_list#}
			{% include 'white-simple/filter_price_box.twig' %}
			{% include 'white-simple/filter_controls_box.twig' %}
			{#{% include 'subscribe to_newsletter.twig' %}#}
			{#{% include 'banners_list.twig' %}#}
			{#{% include 'votes_list.twig' %}#}
		</div>


		<div class="col-xs-12 col-sm-8 block_right_separator_sm">
			<div class="row">
				<div id="div_products_list"></div>
				{#{% include 'white-simple/products_list.twig' %}#}
			</div>
			<div class="row">
				{#% include 'spotlight_tours.twig' %#}
			</div>
			<div class="row">
				{#{% include 'blog_entries.twig' %}#}
			</div>
		</div>

	</div> <!-- <div class="row"> --> <!-- search by State page end -->


{% endblock content %}