{% macro show_next_product_info( nextProduct, fields_to_show, attrs_to_show, field_param ) %}

	{#  product type-product status-publish has-post-thumbnail product_cat-clothing product_cat-t-shirts first instock shipping-taxable purchasable product-type-simple  #}
	<li class="post-{{ nextProduct['id'] }} ">
	{% if fields_to_show.title is defined and fields_to_show.title %}
		<div class="row">
		<h3>
			{% if fields_to_show.image is defined and fields_to_show.image  %}
				<span class="fa fa-info-circle " data-toggle="tooltip" data-placement="top" title="{{ nextProduct['purchase_note'] }}"></span>&nbsp;
			{% endif %}
			<a href="{{ nextProduct['guid'] }}" class="woo_products_title a_link">{{ nextProduct['id'] }}->{{ nextProduct['post_title'] }}</a>
		</h3>
		</div>
	{% endif %}

	{% if fields_to_show.image is defined and fields_to_show.image  %}
		<div class="row">
			<a href="{{ nextProduct['guid'] }}" class="woo_products_image a_link">{{ nextProduct['image'] }}</a>
		</div>
	{% endif %}

		{#<div class="star-rating" title="Rated 5 out of 5">#}
			{#<span style="width:100%"><strong class="rating">5</strong> out of 5</span>#}
		{#</div>#}


	{#{% if fields_to_show.brand is defined and fields_to_show.brand %}#}
		{% for next_attr_to_show in attrs_to_show %}
			{% if nextProduct[next_attr_to_show]  is defined and nextProduct[next_attr_to_show]!= "" %}
			<div class="row">
				<span class="woo_products_label">{{ next_attr_to_show }}:</span>
				<span class="woo_products_{{ next_attr_to_show }}">
					{{ nextProduct[next_attr_to_show] }}
				</span>
			</div>
			{% endif %}
		{% endfor %}
	{#{% endif %}#}


	{#{% if fields_to_show.brand is defined and fields_to_show.brand %}#}
		{#<div class="row">#}
			{#<span class="woo_products_label">Brand:</span>#}
			{#<span class="woo_products_brand">#}
				{#{{ nextProduct['brand'] }}#}
			{#</span>#}
		{#</div>#}
	{#{% endif %}#}


	{% if fields_to_show.sku is defined and fields_to_show.sku  %}
		<div class="row">
			<span class="woo_products_label">Sku:</span>
			<span class="woo_products_sku">
				{{ nextProduct['sku'] }}
			</span>
		</div>
	{% endif %}


	{% if fields_to_show.categories is defined AND fields_to_show.categories %}
		<div class="row">
			<span class="woo_products_label">Categor{% if nextProduct['categories_list'] | length > 1 %}ies{% else %}y{% endif %}:</span>
			{% for next_category_title in nextProduct['categories_list']['ret_titles'] %}
			<span class="woo_products_categories">
				<a href="{{ nextProduct['categories_list']['ret_slugs'][loop.index0] | make_woo_product_category_url }}" class="a_link">{{ next_category_title }}</a>
				{% if not loop.last %}, {% endif %}
			</span>
			{% endfor %}
		</div>
	{% endif %}


	{% if ( fields_to_show.sale_price is defined  and fields_to_show.sale_price ) or ( fields_to_show.regular_price is defined and fields_to_show.regular_price ) %}
		<div class="row">
			<span class="woo_products_label">Price:</span>


			<span class="woo_products_sale_price">

				{% if nextProduct['regular_price'] is defined and nextProduct['regular_price'] > 0 %}
				<strike><span class="woo_products_currencySymbol">${{ nextProduct['regular_price'] }}</span></strike>
				{% endif %}

				{% if ( nextProduct['regular_price'] is defined and nextProduct['regular_price'] > 0 ) and ( nextProduct['sale_price'] is defined and nextProduct['sale_price'] >0 ) %}
				&nbsp;-&nbsp;
				{% endif %}

				{% if nextProduct['sale_price'] is defined and nextProduct['sale_price'] > 0 %}
				<span class="woo_products_currencySymbol">$</span>{{ nextProduct['sale_price'] }}
				{% endif %}
			</span>
		</div>
	{% endif %}


		{% if fields_to_show.is_in_stock is defined and fields_to_show.is_in_stock  %}
			<div class="row">
				<span class="woo_products_label">In Stock:</span>
			<span class="woo_products_is_in_stock">
				<b>{% if nextProduct['is_in_stock'] %}Yes{% else %}No{% endif %}</b>
			</span>
			</div>
		{% endif %}


		{#            [categories_list] => Array
						(
							[field_values] => Computer Accessories,Computer Components,PC Gaming
							[ret_keys] => Array
								(
									[0] => 8
									[1] => 9
									[2] => 10
								)

							[ret_titles] => Array
								(
									[0] => Computer Accessories
									[1] => Computer Components
									[2] => PC Gaming
								)

						)#}



		{#<a rel="nofollow" href="/product-category/clothing/?add-to-cart={{ nextProduct['id'] }}" data-quantity="1" data-product_id="{{ nextProduct['id'] }}" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>#}
	</li>

	{#
            [post_title] => A4 Tech Laser Gaming Mouse
            [post_excerpt] =>
            [post_status] => publish
            [comment_status] => open
            [ping_status] => closed
            [post_password] =>
            [post_name] => a4-tech-laser-gaming-mouse
            [to_ping] =>
            [pinged] =>
            [post_modified] => 2016-08-29 13:45:49
            [post_modified_gmt] => 2016-08-29 13:45:49
            [post_content_filtered] =>
            [post_parent] => 0
            [guid] => http://local-wp-plugings.com/?post_type=product&p=14
            [menu_order] => 0
            [post_type] => product
            [post_mime_type] =>
            [comment_count] => 0
            [filter] => raw
            [image_url] => 1
            [brands_list] => Array
                (
                    [0] => A4Tech
                )

            [categories_list] => Array
                (
                    [field_values] => Computer Accessories,Computer Components,PC Gaming
                    [ret_keys] => Array
                        (
                            [0] => 8
                            [1] => 9
                            [2] => 10
                        )

                    [ret_titles] => Array
                        (
                            [0] => Computer Accessories
                            [1] => Computer Components
                            [2] => PC Gaming
                        )

                )

            [sale_price] => 25
            [regular_price] => 29.70#}

	{#<div class="img_banner"  >#}
		{#<img src="static/images/{{ current_skin_name }}/spotlight.png">#}
	{#</div>#}

	{#<div class="next_hostel_image" >#}
		{#<a href="{{ base_url }}{{ nextProduct.name | make_woo_product_url(nextProduct) | raw }}">#}
			{#<div class="back_image image_border" style="background-image: url('{{ nextProduct.default_image }}'); width:{{ nextProduct['width' ~ field_param] }}px; height:{{ nextProduct['height' ~ field_param] }}px;"   id="spotlight_img_hostel_{{ nextProduct.id }}"></div>#}
		{#</a>#}
	{#</div>#}

	{#<h3 class="site_content_title next_hostel_title text_overflowed" id="div_show_name_{{ nextProduct.id }}">#}
		{#<span class="glyphicon glyphicon-step-forward pull-left style_display_none margin_top_sm" id="span_show_name_{{ nextProduct.id }}"  data-toggle="tooltip" data-placement="bottom" title="{{ nextProduct.id }}->{{ nextProduct.name }} "  ></span>&nbsp;#}
		{#<a href="{{ base_url }}{{ nextProduct.name | make_woo_product_url(nextProduct) | raw }}"  data-toggle="tooltip" data-placement="bottom" title="{{ nextProduct.id }}->{{ nextProduct.name }} " >#}
			{#{{ nextProduct.id }}->{{ nextProduct.name }}#}
		{#</a>#}
	{#</h3>#}


	{#<div class="row next_hostel_subtitle" >#}
		{#<h4 class="site_content_subtitle text_overflowed" title="{{ nextProduct.state_name }}" id="div_show_state_name_{{ nextProduct.id }}" >#}
			{#<span class="glyphicon glyphicon glyphicon-step-forward pull-left style_display_none" id="span_show_state_name_{{ nextProduct.id }}" data-toggle="tooltip" data-placement="bottom" title="{{ nextProduct.id }}->{{ nextProduct.state_name }}" ></span>&nbsp;#}
			{#<span data-toggle="tooltip" data-placement="bottom" title="{{ nextProduct.id }}->{{ nextProduct.state_name }} " >{{ nextProduct.id }}->{{ nextProduct.state_name }} </span>#}
		{#</h4>#}
	{#</div>#}

	{#<div class="row next_hostel_descr" >#}
		{#<h5 class="site_content_text" class="debug" >#}
			{#{{ nextProduct.short_descr | concat_str( 100 ) |raw }}#}
		{#</h5>#}
	{#</div>#}

	{#&#123;&#35;<div class="row next_hostel_stars" >&#35;&#125;#}
		{#&#123;&#35;<img src="{{ base_url }}{{ images_dir }}/{{ current_skin_name }}/stars/stars{{ nextProduct.reviews_avg_rating }}.png"  alt="{{ nextProduct.reviews_avg_rating | show_hostel_review_stars_rating_type_label_label }}" title="{{ nextProduct.reviews_avg_rating | show_hostel_review_stars_rating_type_label_label }}" class="pull-left"><span class="pull-right">{{ nextProduct.price | show_formatted_price( "AU$", "text_money" ) | raw }}</span>&#35;&#125;#}
	{#&#123;&#35;</div>&#35;&#125;#}

	{#<div class="row next_hostel_btn" >#}
		{#<a href="{{ base_url }}{{ nextProduct.name | make_woo_product_url(nextProduct) | raw }}">#}
			{#<button class="item_details">View Details</button>#}
		{#</a>#}
	{#</div>#}

{% endmacro %}  {# show_next_product_info END #}

<h2 class="site_content_title margin_top_lg">
	<span class="fa fa-building-o fa-2x middle_icon" ></span>&nbsp;Found Products ({{ products_list | length }})
</h2>

{#attrs_to_show::{{ dump(attrs_to_show) }}#}
{% for nextProduct in products_list %}
	<div class="col-xs-12 col-sm-6 next_hostel">
		<ul class="products ul_multiline">

                        <span class="visible-xs">
	                        {#nextProduct::{{ dump(nextProduct) }}#}
	                        {# { _self.show_next_product_info( nextProduct, fields_to_show, attrs_to_show,  "_xs" ) } #}
	                    </span>
	                    <span class="visible-sm">
	                        {#{{ _self.show_next_product_info( nextProduct, fields_to_show, attrs_to_show, "_sm" ) }}#}
	                    </span>
	                    <span class="visible-md">
	                        {#{{ _self.show_next_product_info( nextProduct, fields_to_show, attrs_to_show,  "_md" ) }}#}
	                    </span>
	                    <span class="visible-lg">
	                        {{ _self.show_next_product_info( nextProduct, fields_to_show, attrs_to_show, "_md" ) }}
	                    </span>
		</ul>

	</div>
{% endfor %}