{% macro header_block_start(header_title, row_class, glyphicon, show_top_margin_sm) %}
	<div class="block_title" > {# {% if show_top_margin_sm == true %}big_top_EEEEEmargin{% endif %} #}
		{% if (glyphicon is not empty) %}
			<span class="glyphicon {{ glyphicon }}" class="text-center"></span>&nbsp;
		{% endif %}
		{{ header_title }}
	</div>
    <section class="block_content {{ row_class }} block_padding_sm">
{% endmacro %} {# header_block_start #}

{% macro header_block_end(end_marker) %}
	</section> <!-- {{ end_marker }} -->
{% endmacro %}



{% macro table_block_start(header_title, glyphicon, show_top_margin_sm) %}
<section class="table_wrapper  " >
	<div class="block_title {% if show_top_margin_sm == true %}top_margin_sm{% endif %}" >
		{% if (glyphicon is not empty) %}
			<span class="glyphicon {{ glyphicon }}" class="text-center"></span>&nbsp;
		{% endif %}
		{{ header_title }}
	</div>
	<div class="block_content"> {#row #}
{% endmacro %} {# table_block_start #}


{% macro table_block_end(end_marker) %}
	</div>
</section><!-- {{ end_marker }} -->
{% endmacro %} {# table_block_end #}
